<footer class="footer">
    <nav class="nav__ssmm">
        <ul class="list__ssmm">
            <li><a href="https://www.linkedin.com/in/hernanperrone/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/Hernan1008" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://twitter.com/HERNANPERRONE" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="mailto: hhernanperrone@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>            
        </ul>
    </nav>

</footer>